@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
body {
  background: url("/assets/images/record-store.jpg") no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}