.drum-machine__pad {
    border: 1px solid lightgray;
    border-radius: 100%;
    display: inline-block;
    padding: 100px;
    margin-right: 50px;
    background-color: #575656;
    font-size: 55px;
    color: white;
    user-select: none;
}